<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-4">
    <p>
      <strong>Name:</strong>
      <%= @product.name %>
    </p>
  </div>

  <div class="col-md-4">
    <p>
      <strong>Description:</strong>
      <%= @product.description %>
    </p>
  </div>

  <div class="col-md-4">
    <p>
      <strong>Colour:</strong>
      <%= @product.colour %>
    </p>
  </div>

  <div class="col-md-4">
    <p>
      <strong>Image:</strong>
    </p>
    <a href="<%= @product.image_url %>" class="thumbnail" alt="Responsive image">
      <img src="<%= @product.image_url %>" alt="...">
    </a>
  </div>
</div>


  <%= render 'shared/new_comment' %>
 <p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </p>


<button type="submit" class="btn btn-default"><%= link_to 'Edit', edit_product_path(@product) %></button>|
<button type="submit" class="btn btn-default"><%= link_to 'Back', products_path %></button>